<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycat.demo.mapper.MemberMapper" >
    <resultMap id="BaseResultMap" type="com.mycat.demo.entity.Member" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
        id,name,age
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from member
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteById" parameterType="java.lang.Integer" >
        delete from member
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insertAll" parameterType="com.mycat.demo.entity.Member" >
        insert into member (id, name,age)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},#{age,jdbcType=INTEGER})
    </insert>
    <insert id="insert" parameterType="com.mycat.demo.entity.Member" >
        insert into member
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="name != null" >
              name,
            </if>
            <if test="age != null" >
                age,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="age != null" >
                #{age,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateById" parameterType="com.mycat.demo.entity.Member" >
        update member
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="age != null" >
                age = #{age,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.mycat.demo.entity.Member" >
        update member
        set name = #{name,jdbcType=VARCHAR},
        age = #{age,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectAll" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from member
    </select>

    <select id="selectById" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from member
        where id = #{id,jdbcType=INTEGER}
    </select>


</mapper>